{
  extends: 'airbnb',
  parser: 'babel-eslint',
  env: {
    browser: true,
    node: true,
    es6: true,
    jquery: true
  },
  plugins: [
    'react'
  ],
  globals: {
    document: false
  },
  parserOptions: {
    ecmaVersion: 6,
    sourceType: 'module',
    ecmaFeatures: {
      jsx: true
    }
  },
  rules: {
    react/prefer-stateless-function: 1,
    comma-dangle: ['error', {
      functions: 'ignore'
      }
    ]
  }
}
