//Font Size
// Desk
$h1:                    42px;
$h2:                    38px;
$h3:                    34px;
$h4:                    30px;
$h5:                    28px;
$h6:                    22px;
$p:                     20px;
// Mobile
$h1-mob:                28px;
$h2-mob:                26px;
$h3-mob:                24px;
$h4-mob:                22px;
$h5-mob:                20px;
$h6-mob:                18px;
$p-mob:                 16px;

$primary_brand:         #261133;
