.post{
  &__title {
    font-size: 22px;
  }
  &__body{
    padding: 15px;
  }
}

.post-item{
  @media (max-width: 768px) {
    padding: 10px 0;
  }
  &__box{
    margin: 35px 0;
  }
}

.post__picture {
  margin: 15px auto;
  img {
    margin: 0 auto;
  }
}
