nav {
  position: relative;
  background-color: $primary;
  top: 0;
  transition: background-color .3s, opacity .2s, visibility 0s;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  z-index: 10;
  font-family: $whitch-font;

  .nav-background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .5;

    .back {
      top: 0;
      bottom: 0;
      background-repeat: repeat;
      width: 100%;
      max-width: 100%;
      right: 0;
      left: 0;
      margin: 0 auto;
      position: absolute;
      // -webkit-filter: grayscale(100%);
      // filter: grayscale(100%);
      filter: saturate(70%);
      -webkit-filter: saturate(70%);
      transition: opacity .7s;
    }
  }

  .nav-header {
    word-break: break-word;
    clear: both;
    padding: 40px 0;
    text-align: center;
  }

  &.nav-full-height {
    height: 100%;

    .nav-wrapper {
      height: 100%;
    }

    .nav-header {
      @include flex(flex);
      @include justify-content(center);
      @include align-items(center);
      height: calc(100% - 64px);
    }
  }

  .logo-min {
    max-width: 100px;
    max-height: 45px;
  }

  .navbar-color-on-scroll {
    background-color: transparent;
    background-image: url("/img/bg.jpg");
  }

  .navbar-transparent{
    background-image: none;
  }
}
