html, body {
  height: 100%;
  padding: 0;
  margin: 0 auto;

  div#app {
    height: 100%;
  }
}

main {
  flex: 1 0 auto;
  padding-top: 20px;
}

.text-white {
  color: $white;
}

.JodieHag {
  @include flex(flex);
  min-height: 100vh;
  @include flex-direction(column);
  height: 100%;

  .btn{
    &-home {
      margin: 50px auto;
    }
  }

  footer {
    &.page-footer {
      padding-top: 0px;

      span {
        color: $primary;
        font-weight: bold;
      }
    }
  }
}
