html, body {
  height: 100%;
  padding: 0;
  margin: 0 auto;

  div#app {
    height: 100%;
  }
}

main {
  flex: 1 0 auto;
}

.text-white {
  color: $white;
}

.JodieHag {
  @include flex(flex);
  min-height: 100vh;
  @include flex-direction(column);
  height: 100%;
}
